
Hitomi Copy 2/.vs/*
Hitomi Copy 2/bin/*
Hitomi Copy 2/obj/*
Hitomi Copy 2/packages/*

EXH Downloader/.vs/*
EXH Downloader/bin/*
EXH Downloader/obj/*
EXH Downloader/packages/*

Pixiv Downloader/.vs/*
Pixiv Downloader/bin/*
Pixiv Downloader/obj/*
Pixiv Downloader/packages/*

Twitter Downloader/.vs/*
Twitter Downloader/bin/*
Twitter Downloader/obj/*
Twitter Downloader/packages/*
